#diagramContainer {
  position: relative;
  clear: both;
}
#legend {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  font-size: 0.8em;
  margin-bottom: 20px;
  width: 600px;
  float: left;
  clear: both;
}
.legend_title {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.legend_row {
  margin-bottom: 4px;
  float: left;
  width: 100%
}
.legend_row:hover {
  background-color: lightgreen;
}
.legend_symbol {
  width: 131px;
  padding-left: 4px;
  padding-right: 4px;
  float: left;
}
.legend_description {
  width: 460;
  float: left;
}
.legend_svg {
  float: left;
  width: 131px;
  max-height: 20px;
}
.item {
  position: absolute;
  width: 131px;
  float: left;
}
.activity {
  font-size: 0.7em;
  border: 1px dotted #386890;
  float: left;
  word-wrap: break-word;
  background-color: #eee;
}
.act_banner {
  text-align: center;
  font-style: italic;
  color: white;
  background: linear-gradient(lightblue, #386890);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 4px;
  padding-right: 4px;
  overflow-wrap: break-word;
}
.act_banner:hover {
  cursor: move;
}
.act_endpoint {
  background: linear-gradient(#fbc97f, darkorange);
}
.act_startpoint {
  background: linear-gradient(lightgreen, green);
}
.act_narrow {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.act_narrow:hover {
  cursor: move;
}
.act_wide {
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.act_wide:hover {
  cursor: move;
}
.act_desc {
  width: 97px;
  min-height: 40px;
}
.act_desc:hover {
  cursor: move;
}
.act_row {
  float:left;
  display: flex;
}
.act_id {
}
.act_duration {
  color: steelblue;
}
.act_critcal {
  color: red;
}
.act_info {
  color: firebrick;
}
.bottom_spacer {
  height: 200px;
}
